
/* This CSS document changes the size of the page if the website is accessed from a narrow view (For example the browser takes up half the screen).
   It changes a lot of things such as body size, headers etc to make it viewable on a narrow screen.      */



/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select {
		font-size: 14pt;
	}
	
	/* Main */
		
		.main {
		}
		
			.main.style2 {
			}
			
				.main.style2 .content {
					width: 50%;
				}
			
					.main.style2.right .content {
						left: 50%;
					}

				.main.style2.inactive {
				}

					.main.style2.inactive .content {
					}

						.main.style2.inactive.left .content {
							left: -50%;
						}